<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-grid.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-reboot.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <style>
        body, html{
            height: 100%;
        }
    </style>
</head>         
<body>

    <div class="h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="landing_card">
                <div class="d-flex justify-content-center align-self-center">
                    <h2 style="color: darkblue; font-weight: bold;">Welcome!</h3>
                </div>
                <div class="d-flex justify-content-center align-self-center">
                        <p class="text-center">This is a system created using django that contains characters, locations, and episodes from the tv series <span class="ram"> Rick and Morty</span>.</p>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'character-list' %}" class="btn btn-block btn-warning">Proceed!</a>
                </div>
            </div>
        </div>
        
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
</html>