{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top py-0 w-100">
  <ul class="navbar-nav ">
    <li class="nav-item">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static '/images/logo.jpeg' %}" alt="" class="logo-img" style="display: inline-block;">
      </a>
    </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'character-list' %} active {% endif %}">
          <a class="nav-link" href="{% url 'character-list' %}">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'location-list' %} active {% endif %}" href="{% url 'location-list' %}">Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'episode-list' %} active {% endif %}" href="{% url 'episode-list' %}">Episodes</a>
        </li>
      </ul>
  </nav>