{% load static %}

{% if object_list %}
    <table class="table table-hover table-dark table-bordered mr-1">
    <thead>
        <tr class="text-center">
            <th>Name</th>
            <th>Location</th>
            <th class="status">Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for c in page.object_list %}
            <tr onclick="window.location='{% url 'character-detail' c.id %}'">
                <td>{{c.name}}</td>
                <td>{{c.location}}</td>
                <td class="text-center status">{{c.status}}</td>
                <td class="text-center flex-row">
                    <a href="{% url 'character-update' c.id %}" class="btn btn-warning">Update</a>
                    <a href="{% url 'character-delete' c.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}
    
    